<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="ErrorHandling" type="System.Configuration.DictionarySectionHandler" />
    <!--Install-Package Unity.Mvc3-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    </configSections>
  <ErrorHandling>
<!--set true to enable the logging-->
<add key="EnableLogging" value="true" />
<!-- path to log folders, DO create the folder in app directory -->
<add key="ErrorLogFilesDir" value="Logs_Error" />
<add key="AppLogFilesDir" value="Logs_App" />
</ErrorHandling>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
        <!-- Models-->
        <typeAlias alias="IDataAccessLayer" type="DataAccessLayer.Contracts.IDataAccessLayer, DataAccessLayer.Contracts" />
        <typeAlias alias="IAuthorise" type="DataAccessLayer.Contracts.IAuthorise, DataAccessLayer.Contracts" />
      <typeAlias alias="IServiceLocator" type="Microsoft.Practices.ServiceLocation.IServiceLocator, Microsoft.Practices.ServiceLocation" />
      <typeAlias alias="IController" type="System.Web.Mvc.IController, System.Web.Mvc" />
      </typeAliases>
    
    <container name="SomeUnityContainer">
      <register type="IAuthorise" mapTo="DataAccessLayer.Processors.Authorise, DataAccessLayer.Processors" />
      <!--<register type="IServiceLocator" mapTo="SomeWebApplication.Factories.UnityMvcServiceLocator, SomeWebApplication.Factories" />-->
      <!--<register type="IController" mapTo="SomeWebApplication.Controllers.BaseController,  SomeWebApplication.Controllers" />-->
      <register type="IDataAccessLayer" mapTo="DataAccessLayer.Processors.DataAccessLayers, DataAccessLayer.Processors" />
    
    </container>

    </unity>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-SomeWebApplication-20151206045120.mdf;Initial Catalog=aspnet-SomeWebApplication-20151206045120;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SomeOnlineApplicationDBEntities" connectionString="metadata=res://*/SomeOnlineApplicationDB.csdl|res://*/SomeOnlineApplicationDB.ssdl|res://*/SomeOnlineApplicationDB.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;C:\Users\sananthoji\documents\visual studio 2013\Projects\SomeWebApplication\SomeWebApplication\App_Data\SomeOnlineApplicationDB.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="Forms" />
    <sessionState mode="InProc"></sessionState>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <trace enabled="true" pageOutput="false" requestLimit="50" localOnly="true" />

      <customErrors mode="Off" defaultRedirect="~/Error/Index">
        <!--<error statusCode="404" redirect="~/Error/NotFound"/>
        <error statusCode="403" redirect="~/Error/BadRequest"/>-->
    </customErrors>
  
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

