@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Some Online Application</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="@Url.Action("Login")" class="btn btn-primary btn-lg">Continue to Login Page</a></p>
</div>

<div class="row">
    <a href="https://diy2dhgsjw6gb.cloudfront.net/ph/ec88a951bfb24be7c7066d039cfdf1ec/l/297419589.jpg" download id="download" hidden></a>
</div>

